html {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 1.5;
}

.main {
  position: absolute;
  left: 22em;
  top: 0;
  right: 0em;
  bottom: 0;
  z-index: 1;
}

.tools {
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 22em;
  background: #ECEADF;
  border-right: 1px solid #ddd;
  z-index: 1;
  overflow: auto;
}

.tools2 {
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    position: absolute;
    left: 22.5em;
    top: 26em;
    bottom: 0;
    width: 57.5em;
    background: #ECEADF;
    border-top: 1px solid #ddd;
    z-index: 1;
    overflow: auto;
}

.footer-link {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.25em 0.5em;
  z-index: 2;
}

.action-icon {
  cursor: pointer;
}

h1 {
  margin: 0 0.125em;
  position: absolute;
  pointer-events: none;
  color: #bbb;
}

* + h2 {
  margin-top: 0.5em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

select,input,button {
    /*height: 38px;*/
    padding: 3px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 5px;
}

textarea {
    margin-bottom: 5px;
}

input {
    width: 200px;
}

.qtip-content{
    font-size: 12px;
    line-height: 1.2em;
}

.qtip-title {
    font-size: 12px;
}