body {
  font: 14pt Open Sans;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.main {
  position: absolute;
  left: 25em;
  top: 0;
  right: 0em;
  bottom: 0;
  z-index: 1;
}

.tools {
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25em;
  background: #fff;
  border-right: 1px solid #ddd;
  z-index: 1;
  overflow: auto;
}

.footer-link {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.25em 0.5em;
  z-index: 2;
}

.action-icon {
  cursor: pointer;
}

h1 {
  margin: 0 0.125em;
  position: absolute;
  pointer-events: none;
  color: #bbb;
}

* + h2 {
  margin-top: 0.5em;
}
